<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css"
      integrity="sha512-b2QcS5SsA8tZodcDtGRELiGv5SaKSk1vDHDaQRda0htPYWZ6046lr3kJ5bAAQdpV2mmA/4v0wQF9MyU6/pDIAg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
      integrity="sha512-Avb2QiuDEEvB4bZJYdft2mNjVShBftLdPG8FJ0V7irTLQ8Uo0qcPxh4Plq7G5tGm0rU+1SPhVotteLpBERwTkw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
      integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css"
      integrity="sha512-OTcub78R3msOCtY3Tc6FzeDJ8N9qvQn1Ph49ou13xgA9VsH9+LRxoFU6EqLhW4+PKRfU+/HReXmSZXHEkpYoOA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="app/css/app.css" />
    <title>Designing Gates</title>
  </head>

  <body>
    <div class="shipe">
      <img src="assets/srcs/img/bgchipe.png" alt="" />
    </div>
    <!-- conLogoAndIcons -->

    <div class="conLogoAndIcons">
      <div class="navLogo">
        <img src="assets/srcs/img/logo.svg" alt="logo" />
      </div>
      <div class="iconsS">
        <a href=""><img src="assets/srcs/img/instaLogo.png" alt="icons" /></a>
        <a href=""><img src="assets/srcs/img/faceLogo.png" alt="icons" /></a>
        <a href=""><img src="assets/srcs/img/xLogo.png" alt="icons" /></a>
        <a href=""><img src="assets/srcs/img/youtLogo.png" alt="icons" /></a>
      </div>
    </div>
    <!-- end conLogoAndIcons -->
    <!-- nav -->
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container-fluid">
        <!-- <a class="navbar-brand" href="#">Navbar</a> -->
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#Section3">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Company's</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#app">Careers</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact Us</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- end nav -->
    <!-- container of containt (fill) -->
    <div class="container">
      <div class="mainTitle">
        <div class="mainTitleS1">Designing Gates</div>
        &nbsp;
        <div class="mainTitleS2">lab of Innovation</div>
      </div>
      <!-- section one -->
      <div class="sectionOne">
        <div class="row">
          <div class="cardS1 col-2">
            <div class="imgS1">
              <img src="assets/srcs/img/interiorDesign.png" alt="" />
            </div>
            <div class="disS1">Interior Design</div>
          </div>
          <div class="cardS1 col-2">
            <div class="imgS1">
              <img src="assets/srcs/img/furniture.png" alt="" />
            </div>
            <div class="disS1">FURNITURE</div>
          </div>
          <div class="cardS1 col-2">
            <div class="imgS1">
              <img src="assets/srcs/img/architecting.png" alt="" />
            </div>
            <div class="disS1">ARCHITECTING</div>
          </div>
          <div class="cardS1 col-2">
            <div class="imgS1">
              <img src="assets/srcs/img/landscape.png" alt="" />
            </div>
            <div class="disS1">LANDSCAPE</div>
          </div>
        </div>
      </div>
      <!-- end section one -->

      <!-- section two -->
      <div class="sectionTwo">
        <div class="titleS2">CONSULTANTS :</div>
        <div class="row">
          <div class="col-5">
            <img src="assets/srcs/img/lixir.png" alt="Lixir" />
          </div>
          <div class="col-5">
            <img src="assets/srcs/img/elwarsha.png" alt="" />
          </div>
        </div>
      </div>
      <!-- end section two -->

      <!-- section 3 -->
      <div class="section3" id="Section3">
        <img class="bgnetwork" src="assets/srcs/img/network.png" alt="" />
        <div class="row">
          <div class="navLogo col-5">
            <img src="assets/srcs/img/logo.svg" alt="" />
          </div>
          <div class="conSection3 col-5">
            <div class="titleConSection3">About Us :</div>
            <div class="desConSection3">
              Timeless Treasures Architectural Heritage Across the Ages
            </div>
            <div class="aboutConSection3">
              Lorem ipsum dolor sit amet consectetur. Vitae pretium semper
              pellentesque nisi quam nisi libero. Elementum at tempus rhoncus
              aliquam. Amet sagittis massa nam in varius. Amet ac ultrices enim
              semper mi ultricies.
            </div>
            <div class="logoS3">
              <img src="assets/srcs/img/1981Logo.png" alt="" class="logoS3" />
              <img src="assets/srcs/img/igcIcon.png" alt="" class="logoS3" />
            </div>
          </div>
        </div>
      </div>
      <!-- end section 3 -->
    </div>
    <!-- end container of containt -->

    <!-- out of container -->
    <!-- section 4 -->
    <div class="section4" id="app">
      <div class="titleS4">Valuable clients</div>
      <div class="mySlide">
        <div class="s4line1">
          <div class="s4T">Regional</div>
          <div class="line"></div>
        </div>
        <div class="containerS4 owl1 owl-carousel owl-theme">
          <div class="conS4 item" v-for="i in regional">
            
            <div class="logoS4">
              <img :src="`assets/srcs/LOGOS/regional/regional-${i}.png`" alt="" />
            </div>
            <div class="disS4"></div>
          </div>
         
        </div>
        <div class="s4line1 lineD"><div class="line"></div></div>
      </div>

      <div class="mySlide">
        <div class="s4line1">
          <div class="s4T">Key Projects</div>
          <div class="line"></div>
        </div>
        <div class="containerS4 owl2 owl-carousel owl-theme">
          <div class="conS4 item" v-for="i in keypro">
            <div class="logoS4">
              <img :src="`assets/srcs/LOGOS/keyprojects/keyprojects-${i}.png`" alt="" />
            </div>
            <div class="disS4"></div>
          </div>
          
        </div>
        <div class="s4line1 lineD"><div class="line"></div></div>
      </div>

      <div class="mySlide">
        <div class="s4line1">
          <div class="s4T">Local</div>
          <div class="line"></div>
        </div>
        <div class="containerS4 owl3 owl-carousel owl-theme">
          <div class="conS4 item" v-for="i in local">
            <div class="logoS4">
              <img :src="`assets/srcs/LOGOS/local/local-${i}.png`" alt="" />
            </div>
            <div class="disS4"></div>
          </div>
      
        </div>
        <div class="s4line1 lineD"><div class="line"></div></div>
      </div>
    </div>
    <!-- end section 4 -->

    <!-- footer -->
    <footer class="row">
      <div class="navLogo col-3">
        <img src="assets/srcs/img/logo.svg" alt="" />
      </div>
      <!-- services -->
      <div class="col-3">
        <div class="services">Services</div>
        <div class="disServices">
          <a href="">Interior Design</a>
        </div>
        <div class="disServices">
          <a href="">Furniture</a>
        </div>
        <div class="disServices">
          <a href="">Architecting</a>
        </div>
        <div class="disServices">
          <a href="">Landscape</a>
        </div>
      </div>
      <!-- end services -->
      <!-- Page -->
      <div class="col-3">
        <div class="Page">Page</div>
        <div class="disPage">
          <a href="">Home</a>
        </div>
        <div class="disPage">
          <a href="">About Us</a>
        </div>
        <div class="disPage">
          <a href="">Company's</a>
        </div>
        <div class="disPage">
          <a href="">Careers</a>
        </div>
        <div class="disPage">
          <a href="">Contact Us</a>
        </div>
      </div>
      <!-- end Page -->
      <!-- contact us -->
      <div class="col-3">
        <div class="contact">Contact Us</div>
        <div class="disContact">
          <div class="contactIcon">
            <img src="assets/srcs/img/Call.png" alt="" />
            <div class="infoContact">+20 22692826</div>
          </div>
          <div class="contactIcon">
            <img src="assets/srcs/img/Message.png" alt="" />
            <div class="infoContact">
              <a href="info@designing-gates.com">info@designing-gates.com</a>
              <!-- contac with me +20 010 2692 5942 -->
            </div>
          </div>
          <div class="contactIcon">
            <img src="assets/srcs/img/Location.png" alt="" />
            <div class="infoContact">
              Sheraton El Helioplies - Al Nozha,Cairo, Egypt.
            </div>
          </div>
        </div>
        <div class="suIcons">
          <i class="fa-brands fa-instagram fa-lg" style="color: #ffffff"></i>
          <i class="fa-brands fa-facebook fa-lg" style="color: #ffffff"></i>
          <i class="fa-brands fa-twitter fa-lg" style="color: #ffffff"></i>
          <i class="fa-brands fa-youtube fa-lg" style="color: #ffffff"></i>
        </div>
      </div>
      <!-- end contact us -->
      <!-- contac with me +20 010 2692 5942 -->
      <div class="copyright col-12">Copyright 2023 @ all right reserved</div>
    </footer>
    <!-- end footer -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
      integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.min.js"
      integrity="sha512-WW8/jxkELe2CAiE4LvQfwm1rajOS8PHasCCx+knHG0gBHt8EXxS6T6tJRTGuDQVnluuAvMxWF4j8SNFDKceLFg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/js/all.min.js"
      integrity="sha512-xgIrH5DRuEOcZK5cPtVXx/WSp5DTir2JNcKE5ahV2u51NCTD9UDxbQgZHYHVBlPc4H8tug6BZTYIl2RdA/X0Vg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
      integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="app/js/app.js"></script>
  </body>
</html>
